<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<!-- KISSet configuration test file --><configuration>
    <!-- Station default callsign used for outgoing connections on any interface, unless overridden
         in the interface config itself -->
    <callsign>G0TAI-2</callsign>
    <bluetooth>
                                                                                                
        
        
        
        
        
        
        
        
        
        
        <deviceName>TH-D74</deviceName>
                                                                                            
    
    
    
    
    
    
    
    
    
    
    </bluetooth>
    <interfaces>
                                                                                
        
        
        
        
        
        
                                                    
        
        
        
        
        
                                    
    
    
    
    
    
        
        
            
    
        <interface>
            <uuid>560409d3-1aef-42a9-8772-3a725b3fb20d</uuid>
            <ipAddress>127.0.0.1</ipAddress>
            <port>8001</port>
            <className>org.prowl.kisset.io.KISSviaTCP</className>
        </interface>
    </interfaces>
    <tnc>


    </tnc>
</configuration>
