<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<!-- KISSet configuration test file --><configuration>
    <!-- Station default callsign used for outgoing connections on any interface, unless overridden
         in the interface config itself -->
    <callsign>G0TAI-2</callsign>
    <bluetooth>
                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <deviceName>TH-D74</deviceName>
                                                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </bluetooth>
    <interfaces>
                                                                                                                                
        
        
        
        
        
        
                                                    
        
        
        
        
        
                                    
    
    
    
    
    
        
        
            
    
        
    
        
        
        
        
        
        <interface>
                                                                        
            
            
            
            
            <uuid>0967b898-0dfb-4e28-90fd-826190a38d58</uuid>
                                                                        
            
            
            
            
            <serialPort>/dev/cu.usbmodem834301</serialPort>
                                                                        
            
            
            
            
            <baudRate>19200</baudRate>
                                                                        
            
            
            
            
            <className>org.prowl.kisset.io.KISSviaSerial</className>
                                                                    
        
        
        
        
        </interface>
                                            
    
    
    
    
    </interfaces>
    <tnc>


    </tnc>
</configuration>
